@mixin links($color){
    color : $color
    text-decoration: none;
    font-size: 1.5rem;
    &:hover {
        color: grey;
    }
}
$breakpoints : (
    small: "576px",
    medium: "768px",
    large: "1024px",
);
@mixin media-up($breakpoint){
    @media (min-width: map-get($breakpoints,$breakpoint)){
        @content;
    }
}
